* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Mono', monospace;
}

body {   background-size: cover;
    background-image: url(https://wallpaperset.com/w/full/8/8/0/462749.jpg);
    color: #2b2828;
}

li {
    float: left;
    list-style: none;
}

ul {
    background-color: #2b2828;
    overflow: auto;
    border-bottom: 3px solid #ffffff;
}

li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

li a:hover {
    background-color: #ffffff;
    color: #000000;
}

#intro .info {
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    padding: 20px;
    border-left: 5px solid rgb(19, 171, 226); 
    border-bottom: 5px solid rgb(19, 171, 226); 
}

#intro .info h1{
    font-size: 3em;
}

#intro .info h3{
    font-size: 25px;
}

#intro .info p{
    font-size: 20px;
    margin-top: 10px;
}

#intro .pic {
    width: 25%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

#intro .pic img {
    width: 70%;
    height: 40%;
    border-radius: 50%;
    border: 2px solid rgb(19, 171, 226);
}

#myservice {
    margin-top: 5%;
    margin-bottom: 10%;
}

#myservice .service {
    background-color: rgb(19, 171, 226);
    color: #ffffff;
    width: 30%;
    float: left;
    margin-left: 1.5%;
    padding: 10px;
    text-align: center;
    opacity: 85%;
    margin-top: 10px;
}

#myservice .service h1,p {
    padding: 6px;
}

#myservice .title {
    margin-left: 1%;
    margin-bottom: 2%;
    font-size: 35px;
}

#myskills .title {
    margin-left: 1%;
    font-size: 35px;
}

#myskills .skill {
    width: 10%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

#myskills .skill img {
    width: 100%;
    transition-property: transform;
    transition-duration: 1s;
    border-radius: 50%;
}

#myskills .skill img:hover {
    transform: rotate(360deg);
}

#myskills .skill h1 {
    font-size: 20px;
}
#myportfolio .work {
    width: 25%;
    float: left;
    margin-left: 6%;
    background-color: rgb(19, 171, 226);
    opacity: 90%;
    margin-top: 10px;

} 

#myportfolio .work img {
    width: 100%;
}

#myportfolio .work h1 {
    margin-top: 5px;
    color: #ffffff;
}

#myportfolio .work p {
    margin-top: 5px;
    color: #ffffff;
}

#myportfolio .title {
    margin-left: 3%;
    font-size: 35px;
    margin-bottom: 10px;
}
